@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
body {
  min-width: 360px;
}

@media (max-width: 1200px) {
  .container-subway {
    max-width: 768px;
  }
}

.topDeco {
  background-color: #3b8642;
}

.goFresh {
  background-image: linear-gradient(110deg, #f2b700 56%, #008938 44%);
}

.goFresh .textPart {
  width: 45%;
}

@media (max-width: 1200px) {
  .goFresh .textPart {
    width: 100%;
  }
}

.goFresh .textPart .textLarge {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 540px) {
  .goFresh .textPart .textLarge {
    font-size: 50px;
  }
}

.goFresh .textPart .textMiddle {
  font-size: 32px;
  font-weight: 600;
}

@media (max-width: 540px) {
  .goFresh .textPart .textMiddle {
    font-size: 24px;
  }
}

.goFresh .textPart .qrCodePart {
  background-color: #008938;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
}

.goFresh .textPart .textSmall {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .goFresh .textPart .go {
    position: relative;
  }
  .goFresh .textPart .go::after {
    position: absolute;
    content: '';
    width: 42.5px;
    height: 50px;
    left: 75%;
    bottom: 0%;
    background-color: transparent;
    background-image: url("/img/note.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.goFresh .textPart .fresh {
  position: relative;
  display: inline-block;
}

.goFresh .textPart .fresh::after {
  position: absolute;
  content: '';
  width: 85px;
  height: 100px;
  left: 110%;
  bottom: 0%;
  background-color: transparent;
  background-image: url("/img/note.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .goFresh .textPart .fresh::after {
    left: 0%;
    top: 120%;
  }
}

@media (max-width: 540px) {
  .goFresh .textPart .fresh::after {
    width: 56px;
    height: 66px;
  }
}

.goFresh .burgerPart {
  width: 55%;
}

.goFresh .burgerPart .md-burgerImg {
  width: 70%;
}

@media (max-width: 1200px) {
  .goFresh .burgerPart {
    width: 100%;
  }
}

.step .textMiddle {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #008938;
}

.step .step123 {
  position: relative;
  width: 80%;
  list-style: none;
}

.step .step123 .number {
  font-size: 80px;
  font-weight: 900;
  color: #cce7d9;
}

.step .step123 .stepText {
  margin-top: -10px;
  height: 40%;
}

.step .step123 p {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
}

.step .step123 p span {
  color: #008938;
}

.step .step123::after {
  position: absolute;
  content: '';
  border-top: 8px solid #f1b71c;
  width: 100%;
}

.step .step123 li {
  position: relative;
}

.step .step123 li::after {
  position: absolute;
  content: '';
  border: 8px solid #008938;
  width: 20px;
  height: 20px;
  background-color: #008938;
  border-radius: 50%;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%) translateY(-25%);
          transform: translateX(-50%) translateY(-25%);
  z-index: 50;
}

.IgBlock {
  background-color: #f2b700;
}

.IgBlock .leftPart {
  width: 40%;
}

@media (max-width: 768px) {
  .IgBlock .leftPart {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .IgBlock .leftPart .phone {
    width: 50%;
  }
}

.IgBlock .rightPart {
  width: 55%;
}

@media (max-width: 768px) {
  .IgBlock .rightPart {
    width: 100%;
  }
}

.IgBlock .typeSelectPC .IgBlockTitle {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.IgBlock .typeSelectPC .IgBlockSubTitle {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #108e4b;
}

.IgBlock .typeSelectPC .IgBlockText {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.IgBlock .typeSelectMd .IgBlockTitle {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.IgBlock .typeSelectMd .IgBlockSubTitle {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #108e4b;
}

.IgBlock .typeSelectMd .IgBlockText {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #555555;
}

.IgBlock .musicBtn {
  font-weight: 700;
  width: 20%;
  background: #ffffff;
  color: #555555;
}

@media (max-width: 768px) {
  .IgBlock .musicBtn {
    width: 80%;
  }
}

.IgBlock .musicBtn:hover {
  background-color: #008938;
  color: #ffffff;
}

.IgBlock .musicBtn-active {
  width: 20%;
  font-weight: 700;
  background-color: #008938;
  color: #ffffff;
}

@media (max-width: 768px) {
  .IgBlock .musicBtn-active {
    width: 80%;
  }
}

.IgBlock .musicBtn-active:hover {
  background-color: #008938;
  color: #ffffff;
}

@media (max-width: 768px) {
  .IgBlock .musicBtn-active:hover {
    width: 80%;
  }
}

.IgBlock .musicText {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #068e45;
}

.IgBlock .peopleList {
  list-style: none;
  width: 90%;
}

.IgBlock .peopleList li {
  padding: 0px 15px;
}

@media (max-width: 768px) {
  .IgBlock .peopleList {
    width: 100%;
  }
}

.play {
  background: #e9e9e9;
}

.playTitle {
  background: none;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #008938;
}

.playTitle .lineDeco {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.playTitle .lineDeco::after {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 5px;
  background: #008938;
}

.playTitle .secondText {
  display: inline;
  position: relative;
}

.playTitle .secondText::before {
  position: absolute;
  content: '';
  left: -24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-image: url("/img/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
}

.playTitle .secondText::after {
  position: absolute;
  content: '';
  right: -48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: url("/img/greenNote.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.leftPart {
  width: 50%;
}

@media (max-width: 768px) {
  .leftPart {
    width: 100%;
  }
}

.leftPart .disk-ham {
  position: relative;
}

.leftPart .disk-ham .disk {
  width: 45%;
}

.leftPart .disk-ham .ham {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-100%, -60%);
          transform: translate(-100%, -60%);
}

.leftPart .soundEffect {
  margin-top: -15px;
}

.controller button {
  background-color: #008938;
  -webkit-box-shadow: 2px 2px 5px #00af46 inset, -2px -2px 5px #006b2d inset, 0px 5px 5px #d6d6d6;
          box-shadow: 2px 2px 5px #00af46 inset, -2px -2px 5px #006b2d inset, 0px 5px 5px #d6d6d6;
}

.controller button:hover {
  background-color: #008938;
  -webkit-box-shadow: 2px 2px 5px #00af46 inset, -2px -2px 5px #006b2d inset, 0px 5px 5px #d6d6d6;
          box-shadow: 2px 2px 5px #00af46 inset, -2px -2px 5px #006b2d inset, 0px 5px 5px #d6d6d6;
}

.controller .playBtn {
  position: relative;
}

.controller .playBtn::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url("/img/play.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70% 50%;
}

.controller .pauseBtn {
  position: relative;
}

.controller .pauseBtn::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url("/img/pause.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.controller .downloadBtn {
  position: relative;
}

.controller .downloadBtn::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url("/img/download.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.controller .redoBtn {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
}

.playType button {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
  color: #008938;
  background-color: #f2b701;
  -webkit-box-shadow: 2px 2px 5px #fbd45e inset, -2px -2px 5px #d4a004 inset, 0px 5px 5px #d6d6d6;
          box-shadow: 2px 2px 5px #fbd45e inset, -2px -2px 5px #d4a004 inset, 0px 5px 5px #d6d6d6;
}

.playType button:hover {
  color: #008938;
  background-color: #f2b701;
  -webkit-box-shadow: 2px 2px 5px #fbd45e inset, -2px -2px 5px #d4a004 inset, 0px 5px 5px #d6d6d6;
          box-shadow: 2px 2px 5px #fbd45e inset, -2px -2px 5px #d4a004 inset, 0px 5px 5px #d6d6d6;
}

.range .rangeBtn {
  width: 50%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  z-index: 5;
}

.range .rangeBtn::before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/volumnX.png");
  z-index: -5;
}

.range .rangeBtn::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: url("/img/range.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(0%, -15%);
          transform: translate(0%, -15%);
}

.range .knob {
  width: 20%;
}

.rightPart {
  width: 50%;
}

@media (max-width: 768px) {
  .rightPart {
    width: 100%;
  }
}

.rightPart .peopleList {
  list-style: none;
}

.rightPart .peopleList li {
  width: 20%;
}

.rightPart .intro {
  position: relative;
  background: #008938;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  z-index: 5;
}

.rightPart .intro::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  left: 50%;
  top: -5px;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  background: #008938;
  z-index: -1;
}

.foodGroup:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#94bfa8), to(#e9e9e9));
  background: linear-gradient(to bottom, #94bfa8, #e9e9e9);
}

.foodGroup:hover .foodGroupText {
  background-color: #038d43;
}

.foodGroup .foodGroupText {
  background-color: #919191;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.food {
  position: relative;
  cursor: pointer;
}

.food:hover .foodName {
  opacity: 1;
}

.food .foodName {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #008938;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 12px;
  font-weight: 400;
  opacity: 0;
}

.food .actived {
  opacity: 1;
}

.moreChoice {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #008938;
  letter-spacing: 2px;
}

.notice {
  background-color: #008938;
}

.notice .noticeTitle {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.notice .makeMusic-Btn {
  background-color: #ffffff;
  color: #008938;
}

.footer {
  background-color: #f2b700;
}

.footer .law,
.footer .copyRight {
  font-size: 12px;
  line-height: 12px;
}

.footer .law a {
  cursor: pointer;
}

.footer .law a:hover {
  color: #000;
}
/*# sourceMappingURL=all.css.map */