@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

.notice {
    background-color: #008938;
    .noticeTitle {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 28px;
        font-weight: 700;
    }

    .makeMusic-Btn {
        background-color: #ffffff;
        color: #008938;
    }
}
