.notice {
    background-color: #008938;
    .noticeTitle {
        font-size: 36px;
        font-weight: 700;
    }
    .noticeText {
        font-size: 14px;
        line-height: 1.8;
        @media (max-width: 540px) {
            font-size: 12px;
        }
    }

    .makeMusic-Btn {
        background-color: #ffffff;
        color: #008938;
    }
}
